  <%- include("../includes/head.ejs") %>
  <link rel="stylesheet" href="/css/recipe-details.css" />
  <link rel="stylesheet" href="/css/responsive.css" />
  </head>

  <body>
    <div class="container main-area">
      <div class="row">
        <%- include("../includes/h1-heading.ejs") %>
      </div>

      <div class="headArea row">
        <%- include("../includes/navigation.ejs") %>
      </div>

      <div class="row row-eq-height">
        <% if (rec.length > 0) { %>
          <% rec.forEach(item => { %>
            <div class="recipe-item align-items-center col-12 col-lg-4 col-md-6">
              <div class="recipe-item-inner">
                <h2><%= item.recipeName  %></h2>
                <div class="recipe-image">
                  <a href="/rezepte/<%= item.id %>"><img src="<%= item.recipeImage %>" alt="<%= item.recipeName %>"></a>
                </div>
                <div class="buttons">
                  <a class="btn detail-button" href="/rezepte/<%= item.id %>">Details</a>
                  <a class="btn edit-button" href="/rezept-bearbeiten/<%= item.id %>">Rezept bearbeiten</a>
                </div>
              </div>
            </div> 
          <% }); %>
        <% } else { %>
          <h2>Familienrezepte</h2>
        <% } %>
      </div>
    </div>
  </body>
</html>  